# Dependencies
node_modules/
backend/venv/
__pycache__/

# Environment
.env
backend/.env
frontend/.env
backend/firebase-service-account.json

# Database
*.db

# Build
frontend/dist/
backend/*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

